{% extends "base.html" %}
{% block content %}


    <h1>Hello user {{user_id}}. Nice ID!</h1>

    <h1> you have {{n_ratings}} ratings <h1>
    
    <h4> Your 5 best rated films are:  </h4>
    
    <ol>
    {% for m in best_ratings%}
    <li>{{ m }}</li>
    {% endfor %}
    </ol>

    <form>
        <h1>Please pick a recommendation model and the number of films to be recommended </h1>
        <input type="radio" id="distance" name="model" value="DR">
        <label for="DR">Random Recommender</label><br>

        <input type="radio" id="distance" name="model" value="PFR">
        <label for="PFR">Popular Films Recommender</label><br>

        <input type="radio" name="model" value="NMF">
        <label for="NMF">NMF</label><br>

        <label for="k">number of recommendations:</label><br>
        <input type="text" name="k">
        

        <input type="submit" value="let's go!!">
    </form>

    {% if model is not none %}
        <h2>You have picked the model: {{model}} </h2>
        <br>
        <h2>Our recommendations for you are:</h2>

        <ol>
        {% for m in recommendation%}
        <li>{{ m }}</li>
        {% endfor %}
        </ol>

    {% endif %}

    

{% endblock %}
